body {
    padding: 15px;
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

footer {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 50px;
}

li {
    text-align: center;
}

.nav-links a {
    display: block;
    background-color: lightgray;
    margin: 10px 0;
    padding: 10px;
}

ul.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

}


@media screen and (max-width:768px) {
    .one-third, .two-third {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:768px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        float: left;
    }

    footer>p {
        /* float: left;
        width: 100%; */
        margin-top: 150px;

    }

    ul.nav-links {
        float: right;
        padding: 0;
        margin: 25px 0;
    }

    .nav-links a {
        background-color: transparent;
        display: inline;
        padding: 2px;
    }

    .nav-links li {
        display: inline-block;
    }
}


.header-img {
    clear: both;
}

.alert-info a { /* use this, not ...a:link so it acts as a button (noted) */
    color: black;
    text-decoration: none;
    border: #e6e6e6 1px solid;
    text-align: center;
    padding: 10px;
    background-color: #ccffff;
    display: block; /* extends link full width of screen */
}

#social-media-links {
    float: right;
    position: relative;
    bottom: 18px;
}

.fa {
    width: 30px;
}